@model Blog.MvcWebUI.Models.ArticleListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div  style="float: right;">
    <a class="btn btn-xs btn-success" asp-controller="Article" asp-action="Add">Add a new article</a>
</div>
<br />
<div id="articleList">
   <partial name="_ArticleListPartial" model="@Model" ></partial>
</div>

