@model Blog.MvcWebUI.Models.UserDetailsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Admin</h2>
<div>
    <table class="table embed-responsive">
        <tr>
            <td>Admin Name</td>
            
        </tr>
      

    </table>
</div>